<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Update Status</ion-title>
  </ion-toolbar>
  <ion-back-button></ion-back-button>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Update Status</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="padding:20px;">
    <!-- ngModel sets the value of myStatus based on what has been selected in the radio-group. -->
    <ion-radio-group value="" [(ngModel)]="myStatus">
      <ion-radio value="Happy"></ion-radio><ion-label>   Happy</ion-label><br>
      <ion-radio value="Sad"></ion-radio><ion-label>   Sad</ion-label><br>
      <ion-radio value="Lazy"></ion-radio><ion-label>   Lazy</ion-label><br>
      <ion-radio value="Energetic"></ion-radio><ion-label>   Energetic</ion-label> <br>
    </ion-radio-group>

    <ion-button style="margin: 20px;" (click)="onSave()">Save</ion-button>
  </div>


</ion-content>
